In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
avos1_df = pd.read_csv('avos1.csv', sep='"' and ',')

In [16]:
avos1_df.head()

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units
0,Albany,Weekly,2023-01-29 00:00:00,Conventional,1.061986,118903.56,20652.13,69264.38,20.83,21055.11,NaN,NaN,NaN
1,Albany,Weekly,2023-01-22 00:00:00,Conventional,1.087200,145606.29,31914.51,85603.85,15.28,20087.96,NaN,NaN,NaN
2,Albany,Weekly,2023-01-15 00:00:00,Conventional,1.064087,124806.13,22887.57,71058.74,19.21,22717.32,NaN,NaN,NaN
3,Albany,Weekly,2023-01-09 00:00:00,Conventional,1.096477,123185.36,22058.54,76314.33,25.01,21389.38,NaN,NaN,NaN
4,Atlanta,Weekly,2023-01-29 00:00:00,Conventional,0.913555,870655.04,357694.86,23480.73,84.05,99006.04,NaN,NaN,NaN

In [17]:
avos2022_df = pd.read_csv('avos2022.csv', sep=',')

In [18]:
avos2022_df.head()

,Week Ending,Year,Status,Total Volume,California,Chile,Mexico,Peru,Colombia,Dominican Republic
0,"Jan 9, 2022",2022,Actual,25242893,42476,0,24826202,0,154221,219992.0
1,"Jan 16, 2022",2022,Actual,25842385,254741,45359,25417092,0,45359,79832.0
2,"Jan 23, 2022",2022,Actual,27651102,1358681,0,26249028,0,43391,NaN
3,"Jan 30, 2022",2022,Actual,27067867,2351814,199580,24429687,0,86783,NaN
4,"Feb 6, 2022",2022,Actual,23700493,2529702,226796,20705339,0,238655,NaN

In [19]:
import Basemap
import xarray as xr

ModuleNotFoundError: No module named 'Basemap'

In [20]:
import pycountry

In [ ]:
pip install pycountry

In [12]:
import pycountry

In [21]:
# generate country code  based on country name 
import pycountry 
def alpha3code(column):
    CODE=[]
    for country in column:
        try:
            code=pycountry.countries.get(name=country).alpha_3
           # .alpha_3 means 3-letter country code 
           # .alpha_2 means 2-letter country code
            CODE.append(code)
        except:
            CODE.append('None')
    return CODE
# create a column for code 
avos2022_df['CODE']=alpha3code(avos2022_df.)
avos2022_df.head()

#this won't work because the column headers are country names

SyntaxError: invalid syntax (809413810.py, line 15)

In [22]:
#Create a mapping from country names (column headers) to ISO codes
country_name_to_iso = {}
for country in pycountry.countries:
    country_name_to_iso[country.name] = country.alpha_3

# Rename the columns (country names) with their corresponding ISO codes
avos2022_df.columns = avos2022_df.columns.map(lambda x: country_name_to_iso.get(x, x))

# this will replace the column header names with country code

In [23]:
avos2022_df.head()

,Week Ending,Year,Status,Total Volume,California,CHL,MEX,PER,COL,DOM
0,"Jan 9, 2022",2022,Actual,25242893,42476,0,24826202,0,154221,219992.0
1,"Jan 16, 2022",2022,Actual,25842385,254741,45359,25417092,0,45359,79832.0
2,"Jan 23, 2022",2022,Actual,27651102,1358681,0,26249028,0,43391,NaN
3,"Jan 30, 2022",2022,Actual,27067867,2351814,199580,24429687,0,86783,NaN
4,"Feb 6, 2022",2022,Actual,23700493,2529702,226796,20705339,0,238655,NaN

In [24]:
import geopandas as gpd

# Load the geospatial dataset
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Merge your data with the geospatial dataset based on ISO codes
merged_data = world.merge(data, left_on='iso_a2', right_on='ISO_Code', how='left')

C:\Users\Owner\AppData\Local\Temp\ipykernel_8136\1663484376.py:4: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

NameError: name 'data' is not defined

In [ ]:
pip install geopandas

In [2]:
import geopandas as pd

In [27]:
import geopandas as gpd

# Load the geospatial dataset
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Merge your data with the geospatial dataset based on ISO codes
merged_data = world.merge(avos2022_df, left_on='iso_a2', right_on='ISO_Code', how='left')

C:\Users\Owner\AppData\Local\Temp\ipykernel_8136\2102629254.py:4: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

KeyError: 'ISO_Code'

In [30]:
#might need to transpose the data frame because of the column headers being country codes, the rows need to be instead

In [36]:
avos2022_df.head()

,Week Ending,Year,Status,Total Volume,California,CHL,MEX,PER,COL,DOM
0,"Jan 9, 2022",2022,Actual,25242893,42476,0,24826202,0,154221,219992.0
1,"Jan 16, 2022",2022,Actual,25842385,254741,45359,25417092,0,45359,79832.0
2,"Jan 23, 2022",2022,Actual,27651102,1358681,0,26249028,0,43391,NaN
3,"Jan 30, 2022",2022,Actual,27067867,2351814,199580,24429687,0,86783,NaN
4,"Feb 6, 2022",2022,Actual,23700493,2529702,226796,20705339,0,238655,NaN

In [37]:
avos2022_t_df = avos2022_df.transpose()

In [41]:
avos2022_t_df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
Week Ending,"Jan 9, 2022","Jan 16, 2022","Jan 23, 2022","Jan 30, 2022","Feb 6, 2022","Feb 13, 2022","Feb 20, 2022","Feb 27, 2022","Mar 6, 2022","Mar 13, 2022",...,"Oct 30, 2022","Nov 6, 2022","Nov 13, 2022","Nov 20, 2022","Nov 27, 2022","Dec 4, 2022","Dec 11, 2022","Dec 18, 2022","Dec 25, 2022","Jan 1, 2023"
Year,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,...,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
Status,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,...,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual,Actual
Total Volume,25242893,25842385,27651102,27067867,23700493,13538106,11411144,26431640,29166929,25843478,...,24804317,24053517,27568827,20510590,17229035,22517806,24849015,24255172,25281352,23876549
California,42476,254741,1358681,2351814,2529702,1837830,3432575,3658560,3454216,3630077,...,0,0,0,0,0,0,108479,0,0,0
CHL,0,45359,0,199580,226796,199580,222260,594205,576061,426376,...,297793,320427,318031,338341,318107,358424,229899,229899,87983,165744
MEX,24826202,25417092,26249028,24429687,20705339,10979992,7300693,21853434,24811211,21678544,...,24404164,23629747,26935028,19877194,16483129,21942422,24343188,23818969,24980180,23592870
PER,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
COL,154221,45359,43391,86783,238655,520702,455615,325439,325439,108479,...,43391,21695,238655,195263,368831,108479,108479,151871,117933,117933
DOM,219992.0,79832.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58966.0,81646.0,77110.0,99790.0,58966.0,108479.0,58966.0,54431.0,95254.0,0.0

In [46]:
import geopandas as gpd

# Load the geospatial dataset
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

# Merge your data with the geospatial dataset based on ISO codes
merged_data = world.merge(avos2022_t_df, left_on='iso_a2', right_on='CHL', how='left')

C:\Users\Owner\AppData\Local\Temp\ipykernel_8136\1922638977.py:4: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))

KeyError: 'CHL'

In [ ]:
#had a realisation I should trim the datset down to only what is needed for the map.
# This would be the lcoation and the total volume
# Next steps: calc total vol. per location
# make a new df

In [47]:
total_cal = avos2022_df['California'].sum() #testing for one column

In [48]:
print(total_cal)

120693353

In [49]:
total_chl = avos2022_df['CHL'].sum()
total_mex = avos2022_df['MEX'].sum()
total_per = avos2022_df['PER'].sum()
total_col = avos2022_df['COL'].sum()
total_dom = avos2022_df['DOM'].sum()

In [56]:
print(total_chl, total_mex, total_per, total_col, total_dom)

7095134 943190165 125458538 16690129 1011575.0

In [54]:
avos_totals_df = pd.DataFrame(columns=['Country Code', 'Total Volume 2022'])
data = [
    ['USA','total_cal'
    'CHL', 'total_chl']
]

In [55]:
avos_totals_df.head()

Empty DataFrame
Columns: [Country Code, Total Volume 2022]
Index: []

In [3]:
avo_dict = {
    'Country Code': ['USA','CHL','MEX', 'PER','COL','DOM'],
    'Total Vol 2022 (kg)': [120693353, 7095134, 943190165 ,125458538, 16690129, 1011575]
}

avo_totals_df = pd.DataFrame(avo_dict)

AttributeError: module 'geopandas' has no attribute 'DataFrame'

In [6]:
import pandas as pd
data = {'Country Code': ['USA', 'CHL', 'MEX', 'PER', 'COL', 'DOM'], 'Total Vol 2022 kg': [120693353, 7095134, 943190165, 125458538, 16690129,1011575]}
avo_totals_df=pd.DataFrame.from_dict(data)

In [9]:
avo_totals_df.head

<bound method NDFrame.head of   Country Code  Total Vol 2022 kg
0          USA          120693353
1          CHL            7095134
2          MEX          943190165
3          PER          125458538
4          COL           16690129
5          DOM            1011575>

In [18]:
import geopandas as gpd

# Load the geospatial dataset
world = gpd.read_file(gpd.datasets.ne_110m_admin_0_countries.dbf)

AttributeError: module 'geopandas.datasets' has no attribute 'ne_110m_admin_0_countries'

In [12]:
# Assuming 'Country_Code' is the name of the column containing country codes in your transposed DataFrame
merged_data = world.merge(avo_totals_df, left_on='iso_a2', right_on='Country Code', how='left')

KeyError: 'iso_a2'